<footer class="w-100 theme-bg-yellow pv3 ph3 tc">
  <a
    class="link dim gray dib br-100 mr5 pa2 bg-near-white"
    href="{{ site.author.github }}"
  >
    <img alt="github" class="img" src="/img/icons/github.svg" />
  </a>
  <a
    class="link dim gray dib br-100 mr5 pa2 bg-near-white"
    href="{{ site.author.twitter }}"
  >
    <img alt="twitter" class="img" src="/img/icons/twitter.svg" />
  </a>
  <a
    class="link dim gray dib br-100 mr5 pa2 bg-near-white"
    href="{{ site.author.linkedin }}"
  >
    <img alt="linkedin" class="img" src="/img/icons/linkedin.svg" />
  </a>
</footer>
