$paradise-pink: #ef476fff;
$orange-yellow-crayola: #ffd166ff;
$blue-ncs: #118ab2ff;
$indigo-dye: #0b3c5dff;
$eerie-black: #282828ff;

.theme-pink {
  color: $paradise-pink;
}
.theme-yellow {
  color: $orange-yellow-crayola;
}
.theme-indigo {
  color: $indigo-dye;
}
.theme-blue {
  color: $blue-ncs;
}
.theme-black {
  color: $eerie-black;
}

.theme-bg-pink {
  background-color: $paradise-pink;
}
.theme-bg-yellow {
  background-color: $orange-yellow-crayola;
}
.theme-bg-indigo {
  background-color: $indigo-dye;
}
.theme-bg-blue {
  background-color: $blue-ncs;
}

.post-content {
  @extend .theme-black;

  a {
    @extend .theme-blue;
    text-decoration: none;
    &:hover {
      color: lighten($blue-ncs, 20%);
      text-decoration: underline;
    }
  }
}
