---
layout: blog
title: Blog
---

<div class="mv5">
  <h1 class="f2 pa3 mw7 center theme-pink">Blog</h1>
  {% for post in paginator.posts %}
  <article class="mw7 pv3 ph4 center bt b--moon-gray mb4">
    <a href="{{ post.url }}" class="db pv3 no-underline black dim">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <img src="{{ post.imagen }}" alt="imagen del post">
        </div>
        <div class="w-100">
          <h1 class="f3 mt0 ">{{ post.title }}</h1>
          <p class="f6">{{ post.description }}</p>
          <span class="f6">{{ post.date | date_to_string }}</span>
        </div>
      </div>
    </a>
  </article>
  {% endfor %}
  <nav
    class="flex items-center justify-center mw7 db ph8 pv4 center bt b--moon-gray"
  >
    <div class="pr5 br b--moon-gray">
      {% if paginator.next_page %}
      <a
        class="flex items-center link dim black"
        href="page{{paginator.next_page}}"
      >
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-left.svg" />
        Atrás
      </a>
      {% else %}

      <!-- <span class="flex items-center black">
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-left.svg" />
        Atrás
      </span> -->
    </div>

    <div class="pl5">
      {% endif %} {% if paginator.previous_page %} {% if paginator.page == 2 %}
      <a class="flex items-center link dim black" href="/blog">
        Adelante
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-right.svg" />
      </a>
      {% else %}
      <a
        class="flex items-center link dim black"
        href="page{{paginator.previous_page}}"
      >
        Adelante<img
          alt="atrás"
          class="img mr1"
          src="/img/icons/arrow-right.svg"
        />
      </a>
      {% endif %} {% else %}
      <!-- <span class="flex items-center black">
        Adelante
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-right.svg" />
      </span> -->
      {% endif %}
    </div>
  </nav>
</div>
