---
layout: blog
title: Blog
---

<div class="mv5">
  <h1 class="f2 pa3 mw7 center">Blog</h1>
  {% for post in paginator.posts %}
  <article class="pa3 mw7 center bt b--moon-gray mb4">
    <a href="{{ post.url }}" class="db pa3 no-underline black dim">
      <div class="post">
        <h1 class="f3">{{ post.title }}</h1>
        <span class="f4">{{ post.date | date_to_string }}</span>
      </div>
    </a>
  </article>
  {% endfor %}
  <nav class="flex items-center justify-center mw7 db ph8 pv4 center bt b--moon-gray">
    <div class="pr5 br b--moon-gray">
      {% if paginator.next_page %}
      <a
        class="flex items-center link dim black"
        href="page{{paginator.next_page}}"
      >
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-left.svg" />
        Atrás
      </a>
      {% else %}

      <span class="flex items-center black">
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-left.svg" />
        Atrás
      </span>
    </div>

    <div class="pl5">
      {% endif %} {% if paginator.previous_page %} {% if paginator.page == 2 %}
      <a class="flex items-center link dim black" href="/blog">
        Adelante
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-right.svg" />
      </a>
      {% else %}
      <a
        class="flex items-center link dim black"
        href="page{{paginator.previous_page}}"
      >
        Adelante<img
          alt="atrás"
          class="img mr1"
          src="/img/icons/arrow-right.svg"
        />
      </a>
      {% endif %} {% else %}
      <span class="flex items-center black">
        Adelante
        <img alt="atrás" class="img mr1" src="/img/icons/arrow-right.svg" />
      </span>
      {% endif %}
    </div>
  </nav>
</div>
